/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	-webkit-appearance: none;
	-moz-appeareance: none;
}

/* END OF CSS RESET */

@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

html {
	width: 1920px;
}

body {
	color: #333;
	width: 1920px;
}

nav{
	align-items: center;
	border-bottom: 1px solid rgb(226, 226, 226);
	display: inline-grid;
	font-family: 'NYTFranklin';
	grid-gap: 5px;
	grid-template-columns: repeat(100,1fr);
	grid-template-rows: 1fr;
	height: 42px;
	padding-top: 0px;
	width: 1920px;
}

nav a{
	text-decoration: none;
	grid-column: 11/16;
}

nav img{
	align-self: center;
	grid-column: 43/94;
}
nav >*{
	border:0px;
}

a:hover{
	cursor: pointer;
}

/* ARTICLE */

.container {
	height: auto;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1024px 1fr;
	grid-gap: 10px;
}

.article_picture {
	grid-column: 1/4;
	padding-bottom: 30px;
}

article {
	grid-column: 2/3;
	display: grid;
	grid-template-columns: 1fr 2.5fr 1fr;
	grid-gap: 15px;
}

#title {
	grid-column: 2/3;	
	font-size: 40px;
	color: rgb(18, 18, 18);
	font-size: 40px;
	font-style: italic;
	font-weight: 700;
	font-family: "NYTCheltenhamCond Light";
	justify-self: start;
	align-self: end;
	padding-top: 40px;
	padding-bottom: 10px;
}

#main_picture {
	grid-column: 1/4;
}

#main_pic_footer {
	grid-column: 1/3;
	font-size: 15px;
	line-height: 20px;
	font-weight: 400;
	font-family: NYTImperial;
	color: rgb(102, 102, 102);
	text-align: left;	
}

#writer {	
	font-family: 'NYTFranklin Bold';
	font-size: 15px;
	text-decoration: none;
}
#main_pf_span {
	color: #888;
	letter-spacing: 0.01em;
	font-size: 14px;
}

#header_text01{
	grid-column: 2/3;
}

#header_date_text01{
	float: left;
}

#header_icons_text01{
	float: right;
}

.text_01 {
	grid-column: 2/3;
	font-family: NYTImperial;
	font-size: 1.25rem;
	font-weight: 400;
	color: #333;
	line-height: 1.875rem;
	margin-bottom: 0.9375rem;
}

.text_01 hr {
	width: 72px;
	border: 1px solid rgb(204, 204, 204);
}

.second_title {
	grid-column: 2/3;
	font-size: 20px;
	font-weight: 700;
}

.ad_01 {
	text-align: center;
	font-size: 15px;
	font-weight: 700;
	line-height: 1.75rem;
	/*margin-bottom: 0.9375rem;*/
	font-family: 'NYTFranklin Bold';
	color: #333;
}

.text_01_link {
		color: rgb(50, 104, 145);
}
#link_ad_01 {
	text-decoration: none;
	color: rgb(50, 104, 145);
}

.theoryofinflation {
	grid-column: 2/3;
}
#theory_picture {
	width: 100%;
}

.moreinfo{
	border: 1px solid green;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	grid-template-rows: 1fr 1fr 1fr;
	grid-area: 
			"more more more mostpopular"
			"more more more mostpopular"
			"editor editor editor mostpopular";
}

.more{
	display: grid;
	grid-auto-flow: row;
	grid-gap: 18px;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-area:
			"more1 more2 more3"
			"more4 more5 more6";
	justify-content: space-around;
	margin: 45px auto 0 auto;
}

.more img{
	height: 181.75px;
	width: 272.633px;
}

.editor{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column: 1/3;
}

.mostpopular{
	color: rgb(102, 102, 102);
	display: grid;
	font-size: 1.1875rem;
	grid-template-columns: 1fr;
}

.mostpopular a{
	color: rgb(18, 18, 18);
	font-family: 'NYTCheltenhamCond Medium';
	font-size: 19px;;
	text-decoration: none;
	border-bottom: 1px solid rgb(226, 226, 226);
	font-weight: 500;
	line-height: 23px;
	text-decoration-color: rgb(18, 18, 18);
	width: 300px;
}

.mostpopular a:hover{
	color: rgb(102, 102, 102);
	cursor: pointer;
}
.mostpopular div{

}



/*article {
	grid-column: 2/5;
	display: grid;	
}

header {
	color: rgb(18, 18, 18);
	grid-column: 2/4;
	grid-row: 1/2;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 100px auto 100px;
	grid-template-rows: 150px auto repeat(3, 1fr);
}

#title {
	grid-column: 2/3;
	color: rgb(18, 18, 18);
	font-size: 40px;
	font-style: italic;
	font-weight: 700;
	font-family: "NYTCheltenhamCond Light";
	line-height: 40px;
	justify-self: start;
	align-self: end;

}*/



.menu{
	background: url('./img/menubtn.png');
	background-position: center;
	background-repeat: no-repeat;
	grid-column: 2/5;
	height: 25px;
	padding-bottom: 7px;
	width: 35px;
}

.search{
	background: url('./img/search.png');
	background-position: center;
	background-repeat: no-repeat;
	grid-column: 6/9;
	height: 23px;
	padding-bottom: 7px;
	width: 28px;
}

.spaceandcosmos{
	box-sizing: content-box;
	height: 15px;
	vertical-align: middle;
	padding-bottom: 8px;
	width: 128px;
}

#linkspaandcos{
	display: inline-grid;
	grid-column: 5/8;
}

.bluebutton{
	align-self: center;
	background-color: rgb(86, 123, 149);;
	border: 1px solid rgb(51, 51, 51);
	border-radius: 3px;
	box-sizing: border-box;
	color: #fff;
	display: inline-block;
	font-family: 'NYTFranklin';
	font-size: 11px;
	font-stretch: 100%;
	font-weight: 700;
	height: 32px;
	letter-spacing: 0.06em;
	line-height: 11px;
	padding: 0;
	text-transform: uppercase;
}

.bluebutton:hover{
	background-color: rgb(50, 104, 145);
	cursor: pointer;
}

#subscribe{
	grid-column: 94/95;
	margin-left: -109px;
	width: 119px;
}

#log-in{
	grid-column: 95/97;
	margin-left: -1px;
	width: 63px;
}



.theoryofinflation{
	grid-column:2-4;
}