

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* CSS RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	-webkit-appearance: none;
	-moz-appeareance: none;
}

/* END OF CSS RESET */

nav{
	display: grid;
	font-family: NYTFranklin;
	grid-gap: 5px;
	grid-template-columns:4fr 42fr 12fr 90fr 10fr 10fr 1fr;
	height: 42px;
}


a{
	color: rgb(0,0,0);
	font-family: NYTFranklin;
	font-size: 12.5px;
	font-weight: 700;
	line-height: 12.5px;
	text-decoration: none;
}

.centerm{
	justify-self: center;
}
.

.container {
	height: 1500px;
	width: 2000px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(10, 1fr);
	grid-gap: 10px;
}

header {
	color: rgb(18, 18, 18);
	grid-column: 2/3;
	display: grid;
	grid-template-columns: 100px auto 100px;
	grid-template-rows: 150px auto;
}

#title {
	grid-column: 2/3;
	color: rgb(18, 18, 18);
	font-size: 40px;
	font-style: italic;
	font-weight: 700;
	font-family: "NYTCheltenhamCond Light";
	line-height: 40px;
}
.main_picture {
	grid-column: 1/-1;
}

article {
	grid-column: 2/3;
	grid-row: 3/4;
}

.button{
	background-color: white;
	border:0px;
}

.menu{
	height: 18px;
	width: 22px;
}

.search{
	height: 25px;
	width: 28px;
}

.spaceandcosmos{
	color: black;
	font-size: 14.25px;
	line-height: 19px;
	letter-spacing: 0.7px;
}

.bluebutton{
	background-color: rgb(50, 104, 145);
	color: rgb(255, 255, 255);
	display: grid;
	justify-content: space-around;
}

p {
	font-family: NYTImperial;
	font-size: 20px;
	font-weight: 400;
	color: rgb(51, 51, 51);
	line-height: 30px;
}